<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    opened="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Dashboard</a>
      <a mat-list-item routerLink="/cached-route">Cached route</a>
      <a mat-list-item routerLink="/non-cached-route">Non-cached route</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular PWA</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
